.footer{
    height:200px;
  }
  #contact-info-list li{
    display: inline;
    position: relative;
    top:60px;
    left:100px;
    padding:50px
  }
  .p-footer{
    text-align: center;
    position: relative;
    top:75px;
  }