  #horizontal-list li{
    display:inline;
    font-family: 'lato';
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    top:20px;
  }
  #horizontal-list li:first-child{
    margin-right:350px;
  }
  #horizontal-list a{
    color:#fff;
    padding: 15px;
  }
  .h1-header{
    text-align: center;
    font-size: 120px;
    color:#fff;
    font-weight: bold;
  }
  .h2-header{
    font-family:'lato';
    text-align:center;
    font-size:52px;
    color:#fff;
    font-weight: bold;
  }
  .btn-header{
    position: relative;
    width:1.6in;
    left:6in;
    margin:0 auto;
  }
  .p-header{
    font-family:'lato';
    text-align: center;
    color:#fff;
    position:relative;
    left:300px;
    top:50px;
    width:700px;
    height:130px;
  }