.grid-member-detail{
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 300px;
    grid-gap: 0;
    padding-right:0;
  }
  .h2-detail{
    font-size: 20px;
  }
  .p-detail{
    padding-right:70px;
  }
  .grid-member-picture{
    grid-column: 2 / 3;
    grid-row:1 / 3;
    padding:0;
    margin:0;
  }
  .picture-detail{
    size: 300px 400px;
    padding:0;
    margin:0 auto;
  }
  .grid-member-extra{
  
    grid-column: 3 / 4;
    grid-row:1 / 3;
    background-image: -moz-linear-gradient( -45deg, rgb( 222, 129, 60 ) 0%, rgb( 63, 81, 154 ) 100%);
    background-image: -webkit-linear-gradient( -45deg, rgb( 222, 129, 60 ) 0%, rgb( 63, 81, 154 ) 100%);
    padding:0;
    margin:0 auto;
  }
  .p-extra{
    color:#fff;
    padding:20px;
  }
  .img-stat{
    position: relative;
    right:70px;
  }
  #icon-list li{
    display: inline;
    position: relative;
    top:320px;
    right:50px;
    padding-left:35px;
  }